<html>
	<head>
	<!-- Bootstrap core CSS -->
    <link href="../assets/styles/bootstrap.css" rel="stylesheet">
    <title>Contact me</title>
	</head>
	<body>
	<div class="container-fluid">
		<div class="row">
				<div class="panel-body">
					<div class="panel panel-info">
  						<div class="panel-heading todo-title"><h2>Contact me!</h2>
  						</div>
  						<div class="panel-body">
    						<ul>
    						<li><a href="/contact">Contact page</a></li>
							</ul>
  						</div>
					</div>
						
				</div>
			</div>
		</div>
			    <!-- JavaScript -->
   <script src="../assets/javascripts/jquery-1.10.2.js"></script>
   <script src="../assets/javascripts/bootstrap.js"></script>
	</body>
</html>